@media (max-width: 1670px) {
    .main-container__title > strong {
        font-size: 90px;
        margin: 0 0 30px;
    }
}
@media (max-width: 1660px) {
    /*.catalog-item__header {
        height: 50px;
    }*/
}
@media (max-width: 1370px) {
    .main-container__title > strong {
        font-size: 80px;
        margin: 0 0 30px;
    }
}
@media (max-width: 1300px) {
    .wrapper {
        max-width: 720px;
    }
    .main-container {
        padding: 20px 0 196px;
    }
    .main-menu {
        margin-right: 24px;
    }
    .drop-dawn__button {
        width: 16px;
        height: 12px;
    }
    .drop-dawn__button:before {
        top: 3px;
    }
    .drop-dawn__cross:before, .drop-dawn__cross:after {
        top: auto;
        left: 6px;
    }
    .main-link {
        font-size: 14px;
    }
    .contacts-tel {
        font-size: 14px;
    }
    .contacts-text {
        font-size: 12px;
    }
    .main-menu__link {
        margin-right: 30px;
    }
    .main-container__text {
        margin: 87px auto 10px;
    }
    .logo {
        width: 70px;
        height: 70px;
    }
    .page-title {
        font-size: 28px;
    }
    .main-container__title {
        line-height: 1.7;
    }
    .main-container__title > strong {
        font-size: 69px;
        line-height: 1.0;
        margin-bottom: 20px;
    }
    .button {
        font-size: 13px;
    }
    .path {
        transform: scaleY(1);
    }
    .catalog {
        padding: 48px 0 55px;
    }
    .catalog__table {
        margin: 20px -10px 25px;
    }
    .tablet-item {
        display: flex;
    }

    .double-article {
        display: none;
    }
    .catalog__item:nth-last-child(3) {
        margin-bottom: 0;
    }
    .catalog-item__info {
        /* flex-grow: 2; */
        padding: 20px 32px 38px;
    }
    .catalog-item__title, .popup__title {
        font-size: 18px;
    }
    .catalog-item__descr {
        margin: 3px 0 15px;
    }
    .catalog-item__descr > dt, .popup__descr > dt,  .popup__timetable > dt, .catalog-item__descr > dd, .popup__descr > dd, .popup__timetable > dd {
        font-size: 16px;
        line-height: 1.5;
    }
    .catalog-item__descr > dt, .popup__descr > dt, .popup__timetable > dt {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .catalog-item__main-price, .popup__main-price {
        font-size: 30px;
        letter-spacing: 2px;
    }
    .catalog-item__old-price {
        font-size: 20px;
        margin-left: 8px;
    }
    .catalog__item--last {
        display: none;
    }
    .ribbon {
        width: 90px;
        right: 31px;
        font-size: 15px;
        padding-top: 28px;
    }
    .bestseller {
        right: 31px;
    }
    .bestseller:after {
        border-left: 45px solid #64d6ff;
        border-right: 45px solid #64d6ff;
    }
    .sale:after {
        border-left: 45px solid #e30613;
        border-right: 45px solid #e30613;
     }
    .footer__menu {
        margin-right: 94px;
    }
    .footer__social--title {
        font-size: 14px;
    }
    .footer__social--item {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
    .vk:before, .ok:before, .yt:before, .insta:before {
        width: 30px;
        height: 30px;
    }
    .footer__contacts--tel {
        font-size: 15px;
    }
    .footer__company-name {
        font-size: 14px;
        margin-top: 10px;
    }
}
@media (max-width: 1080px) {
    .popup {
        padding: 0 15px;
        margin: auto 0;
    }
    .popup__content {
        width: 100%;
    }
}
@media (max-width: 850px) {
    .wrapper {
        max-width: 95%;
    }
    .popup__content {
        flex-flow: column nowrap;
        overflow-y: auto;
    }
    .popup__images, .popup__text {
        flex: 0 0 auto;
    }
    .popup__images {
        margin-bottom: 20px;
    }

}
@media (max-width: 750px) {
    /*.catalog-item__descr {
        height: 90px;
    }*/
    .catalog-item__main-price, .popup__main-price {
        font-size: 25px;
        letter-spacing: 2px;
    }
    .catalog-item__old-price {
        font-size: 16px;
        margin-left: 8px;
    }
}
@media (max-width: 720px) {
    .catalog-item__info {
        padding: 15px 25px 38px;
    }
    .main-menu__link {
        margin-right: 15px;
    }
    .button-link__arrow-down:after {
        padding-left: 5px;
    }
    .footer__wrapper {
        width: 100%;
        justify-content: space-between;
    }
    .footer__menu {
        margin-right: 0;
    }
    .footer__contacts {
        margin-left: 0;
    }
}
@media (max-width: 620px) {
    .catalog__table {
        margin: 20px -5px 25px;
    }
    .catalog__item {
        flex: 0 0 calc(50% - 10px);
        margin: 5px;
    }
    .catalog-item__old-price {
        margin-left: 3px;
    }
}


@media (max-width: 580px) {
    .wrapper {
        max-width: 90%;
    }
    .drop-dawn__button {
        width: 24px;
        height: 16px;
    }
    .drop-dawn__button:before {
        top: 5px;
    }
    .drop-dawn__button {
        width: 16px;
        height: 12px;
    }
    .drop-dawn__button:before {
        top: 3px;
    }
    .drop-dawn__cross:before, .drop-dawn__cross:after {
        top: auto;
        left: 8px;
    }
    .header__menu {
        display: none;
    }
    .main-container__text {
        margin: 0 auto 10px;
    }
    .catalog__table {
        margin: 20px 0 25px;
    }
    .catalog__item {
        flex: 0 0 100%;
        margin: 0 0 20px 0;
    }
    .catalog__item:nth-last-child(3) {
        margin: 0 0 20px 0;
    }
    .footer__menu {
        display: none;
    }
}
@media (max-width: 420px) {
    .drop-dawn__menu--open {
    }
    .page-title {
        font-size: 22px;
    }
    .main-container__title > strong {
        font-size: 48px;
        margin-bottom: 40px;
    }
    .footer__wrapper {
        flex-flow: column nowrap;
        align-items: center;
    }
    .footer__social--title {
        text-align: center;
    }
    .footer__social {
        margin-bottom: 20px;
    }
    .footer__contacts {
        align-items: center;
    }
}